altgraph==0.17.5
appdirs==1.4.4
build==1.5.0
buildozer==1.6.0
certifi==2026.4.22
charset-normalizer==3.4.7
colorama==0.4.6
Cython==0.29.37
docutils==0.22.4
filetype==1.2.0
hypothesis==6.165.10
idna==3.15
iniconfig==2.3.0
Jinja2==3.1.6
Kivy==2.3.1
Kivy-Garden==0.1.5
kivymd==1.2.0
MarkupSafe==3.0.3
meson==1.11.1
ninja==1.13.0
packaging==26.2
pexpect==4.9.0
pillow==12.2.0
pluggy==1.6.0
ptyprocess==0.7.0
Pygments==2.20.0
pyinstaller==6.20.0
pyinstaller-hooks-contrib==2026.5
pyproject_hooks==1.2.0
pytest==9.1.1
requests==2.34.2
setuptools==82.0.1
sh==2.2.2
sortedcontainers==2.4.0
toml==0.10.2
urllib3==2.7.0
wheel==0.43.0
